.pro-only {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px);

  .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 35%;
    }
  }

  h2,
  h3 {
    font-family: 'Montserrat', 'Rubik', sans-serif;
    // font-weight: 300;
    color: $color-greyish;
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .btn-lg {
      font-size: 18px;
      font-family: 'Montserrat', 'Rubik', sans-serif;
    }
  }
}
